<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>creare angajati</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Create New Angajat </h1>
            <div class = "card-body">
                <form th:action="@{/api/v1/angajat/angajati}" th:object = "${angajat}" method="post">


                    <div class ="form-group">
                        <label> Angajat  Name </label>
                        <input
                                type = "text"
                                name = "Name"
                                th:field = "*{firstname}"
                                class = "form-control"
                                placeholder="Enter Angajat  Name"
                        />
                    </div>
                    <div class ="form-group">
                        <label> Angajat Age </label>
                        <input
                                type = "number"
                                name = "age"
                                th:field = "*{age}"
                                class = "form-control"
                                placeholder="Enter Angajat age"
                        />
                    </div>
                    <div class ="form-group">
                        <label> rolul angajatului</label>
                        <input
                                type = "text"
                                name = "role"
                                th:field = "*{role}"
                                class = "form-control"
                                placeholder="Enter rolul Angajatului"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>